<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="masthead">
      <nav class="language-nav">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> 
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a> 
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a>
        <a href="http://ruby-doc.org/">Ruby</a>         
      </nav>
      
      <img class="logo" src="assets/AA_Times_Logo.png" alt="AppAcademyTimes">
      
      <nav class="masthead-links">
        <ul>
          <time> <%= Date.today %> </time>
          <button type="button" name="button"><i class="fa fa-newspaper"></i> Today’s Paper</button>
          <button type="button" name="button"><i class="fa fa-video"></i>Video</button>
          <button type="button" name="button">77°F</button>
          AAO<strong> +100%</strong>
        </ul>
      </nav>
    </div>
  </body>
</html>