

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <nav class="section_links">
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">World</a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">San Francisco</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">New York</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Bootcamp Prep</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Jumpstart</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Online</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Marketing</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Sales</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">TalentMatch</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Alumni</a> 
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" id='all'>All</a> 
      </nav>
    </div>
  </body>
</html>